USE [master]
GO
/****** Object:  Database [ProConfigDB]    Script Date: 2025/12/26 21:13:58 ******/
CREATE DATABASE [ProConfigDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProConfigDB_data', FILENAME = N'D:\database\ProConfigDB_data.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'ProConfigDB_log', FILENAME = N'D:\database\ProConfigDB_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 51200KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProConfigDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProConfigDB]
GO
/****** Object:  Table [dbo].[CommunicationsGroup]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunicationsGroup](
	[CGId] [int] IDENTITY(10000,1) NOT NULL,
	[EquipmentId] [int] NULL,
	[CGName] [nvarchar](100) NULL,
	[StartAddress] [varchar](100) NOT NULL,
	[CGLength] [int] NOT NULL,
	[IsEnable] [int] NOT NULL,
	[Comments] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CGId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[EquipmentId] [int] IDENTITY(1000,1) NOT NULL,
	[ProjectId] [int] NULL,
	[ETypeId] [int] NULL,
	[PTypeId] [int] NULL,
	[EquipmentName] [nvarchar](100) NOT NULL,
	[IPAddress] [varchar](100) NOT NULL,
	[PortNo] [varchar](50) NOT NULL,
	[SerialNo] [varchar](50) NOT NULL,
	[BaudRate] [int] NOT NULL,
	[DataBit] [int] NOT NULL,
	[ParityBit] [varchar](50) NOT NULL,
	[StopBit] [int] NOT NULL,
	[OPCNodeName] [varchar](100) NOT NULL,
	[OPCServerName] [varchar](100) NOT NULL,
	[IsEnable] [int] NOT NULL,
	[Comments] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[ETypeId] [int] IDENTITY(10,1) NOT NULL,
	[ETypeName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ETypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(100,1) NOT NULL,
	[ProjectName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolType]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolType](
	[PTypeId] [int] IDENTITY(10,1) NOT NULL,
	[EtypeId] [int] NULL,
	[PTypeName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysAdmins]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAdmins](
	[SysAdminId] [int] IDENTITY(10,1) NOT NULL,
	[SysAccount] [varchar](100) NOT NULL,
	[AdminName] [varchar](100) NOT NULL,
	[AdminPwd] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SysAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SysAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variables]    Script Date: 2025/12/26 21:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variables](
	[VariableId] [int] IDENTITY(10000,1) NOT NULL,
	[VariableName] [varchar](100) NULL,
	[CGId] [int] NULL,
	[StartAddress] [varchar](100) NOT NULL,
	[DataType] [varchar](100) NOT NULL,
	[IsMaxAlarm] [bit] NOT NULL,
	[IsMinAlarm] [bit] NOT NULL,
	[IsONAlarm] [bit] NOT NULL,
	[IsOFFAlarm] [bit] NOT NULL,
	[AlarmMax] [varchar](100) NOT NULL,
	[AlarmMin] [varchar](100) NOT NULL,
	[IsFiled] [bit] NOT NULL,
	[AlarmMaxNote] [nvarchar](200) NOT NULL,
	[AlarmMinNote] [nvarchar](200) NOT NULL,
	[AlarmONNote] [nvarchar](200) NOT NULL,
	[AlarmOFFNote] [nvarchar](200) NOT NULL,
	[AlarmType] [varchar](100) NOT NULL,
	[Scale] [float] NULL,
	[Offset] [float] NULL,
	[Comments] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VariableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommunicationsGroup]  WITH CHECK ADD FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([EquipmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD FOREIGN KEY([ETypeId])
REFERENCES [dbo].[EquipmentType] ([ETypeId])
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD FOREIGN KEY([PTypeId])
REFERENCES [dbo].[ProtocolType] ([PTypeId])
GO
ALTER TABLE [dbo].[ProtocolType]  WITH CHECK ADD FOREIGN KEY([EtypeId])
REFERENCES [dbo].[EquipmentType] ([ETypeId])
GO
ALTER TABLE [dbo].[Variables]  WITH CHECK ADD FOREIGN KEY([CGId])
REFERENCES [dbo].[CommunicationsGroup] ([CGId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysAdmins]  WITH CHECK ADD CHECK  ((len([AdminPwd])>=(6) AND len([AdminPwd])<=(18)))
GO
ALTER TABLE [dbo].[SysAdmins]  WITH CHECK ADD CHECK  ((len([SysAccount])>=(4)))
GO
USE [master]
GO
